{% extends "base.html.twig" %}


{% block body %}
    <h1>
        Godspeed {{ art.title }} !
    </h1>
    <div>
        {{ art.content|cached_markdown }}
    </div>
    <p>{{ art.publishedAt ? art.publishedAt|date('Y-m-d') : 'unpublished' }}</p>
    <br/>
    <a href="{{ path("news_toggle_heart", { slug: art.slug }) }}"class="heart btn btn-secondary">
        <i class="far fa-heart" aria-hidden="true"></i>
        <span class="likes">5</span>
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/art.js") }}"></script>
{% endblock%}