{% extends "base.html.twig" %}


{% block body %}
    <h1>
        Godspeed {{ title }} !
    </h1>
    <div>
        {{ content|raw }}
    </div>
    <br/>
    <a href="{{ path("news_toggle_heart", { slug: slug }) }}"class="heart btn btn-secondary">
        <i class="far fa-heart" aria-hidden="true"></i>
        <span class="likes">5</span>
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/art.js") }}"></script>
{% endblock%}